# Predictions, part IV
- drop columns: no
- scaler: yes
- hyperparameter tuning: yes
- one-hot encoding: yes, the dataset was found encoded
- **oversampling: yes**

In this session, I finetuned hyperparameters of 7 algorithms.\
I did each tuning with unscaled and scaled data, and by using 2 tuning techniques: GridSearchCV and RandomizedSearchCV.\
Half the time there was negligable to no difference in results and runtime between unscaled and scaled data, between Grid and RandomizedSearch.\
Only 1 algorithm greatly benefitted from scaling, while 2 algorithms were computationally expensive for Grid, while performing very well with RandomizedSearchCV.
___
**RandomForestClassifier** is the algorithm that ticked all the good boxes:
- didn't require scaling
- it performed same with unscaled and scaled data, with both tuning techniques,
- and it's the top performer:
  - best parameters: {'bootstrap': True, 'max_features': 0.5, 'n_estimators': 100},
  - accuracy 86.53%,
  - runtime 3 minutes.

# train_test_split

In [1]:
%run "common_imports.py"

df = pd.read_csv("../data/02.csv")
features = df.drop(columns=["is_canceled"])
target = df["is_canceled"]

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

display(X_train.head(), "")
display(y_train.head(), "")

,lead_time,arrival_date_week_number,arrival_date_day_of_month,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,...,reserved_room_type_G,reserved_room_type_H,reserved_room_type_L,deposit_type_No_Deposit,deposit_type_Non_Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
104182,23,2,11,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
110320,102,17,24,4,1,3,2,0,0,0,...,0,0,0,1,0,0,0,0,0,1
60388,489,46,10,11,0,2,2,0,0,0,...,0,0,0,0,1,0,0,0,1,0
105591,36,7,12,2,2,1,2,0,0,0,...,0,0,0,1,0,0,0,0,1,0
73207,101,33,17,8,1,3,2,0,0,0,...,0,0,0,1,0,0,0,0,1,0

''

104182    0
110320    0
60388     1
105591    0
73207     1
Name: is_canceled, dtype: int64

''